<% if logged_in? %>
  <script type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>
<script src="https://kit.fontawesome.com/eed3a7214a.js" crossorigin="anonymous"></script>
<main id="root"></main>